$gradient: linear-gradient(180deg, #FB8627 0%, #F5BEF6 100%);

.btn {
	position: relative;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	padding: 12px 20px;
	gap: 10px;

	height: 45px;
	min-width: 181px;

	border-radius: 40px;
	cursor: pointer;

	font-family: 'Inter', sans-serif;
	font-weight: 500;
	font-size: 16px;
	line-height: 130%;

	border: 2px solid transparent;

	background:
		linear-gradient(var(--btn-bg), var(--btn-bg)) padding-box,
		$gradient border-box;

	transition: background 200ms ease, color 200ms ease, transform 80ms ease;
}

/* ===== VARIANTS ===== */

.btn--white {
	--btn-bg: #0F0F17;
	color: #ffffff;
}

.btn--black {
	--btn-bg: #ffffff;
	color: #0F0F17;
}

/* ===== HOVER ===== */

.btn--white:hover {
	background:
		$gradient padding-box,
		$gradient border-box;

	color: #ffffff;
}

.btn--black:hover {
	background:
		$gradient padding-box,
		$gradient border-box;

	color: #0F0F17; /* по макету черный текст */
}





