$gradient: linear-gradient(180deg, #fb8627 0%, #f5bef6 100%);

.btn {
	position: relative;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	padding: 12px 20px;
	gap: 10px;

	height: 45px;
	min-width: 181px;

	border-radius: 40px;
	cursor: pointer;

	font-weight: 500;
	font-size: 16px;
	line-height: 130%;

	border: 2px solid transparent;

	background:
		linear-gradient(var(--btn-bg), var(--btn-bg)) padding-box,
		$gradient border-box;

	transition:
		color 300ms ease,
		transform 120ms ease;

	isolation: isolate; // фикс слоя
}

/* ===== ВНУТРЕННИЙ ГРАДИЕНТ ===== */

.btn::after {
	content: '';
	position: absolute;

	inset: 2px; // важно — меньше чем border
	border-radius: 38px; // 40px - border

	background: $gradient;

	opacity: 0;
	transition: opacity 350ms ease;

	z-index: -1; // теперь текст всегда сверху
}

/* ===== VARIANTS ===== */

.btn--white {
	--btn-bg: #0f0f17;
	color: var(--color-white);
}

.btn--black {
	--btn-bg: #ffffff;
	color: var(--color-black);
}

/* ===== HOVER ===== */

.btn:hover::after {
	opacity: 1;
}

.btn:active {
	transform: scale(0.97);
}





