.overlay {
	position: fixed;
	inset: 0;
	background: rgba(0, 0, 0, 0.5);
	z-index: 2000;
	display: flex;
	align-items: center;
	justify-content: center;
}

.popup {
	width: 520px;
	background: #fff;
	border-radius: 20px;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 40px;
	gap: 40px;
	position: relative;
}

.titleBlock {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 440px;
}

.close {
	width: 24px;
	height: 24px;
	background: none;
	border: none;
	position: relative; /* оставляем для псевдоэлементов крестика */
	cursor: pointer;
}

.close::before,
.close::after {
	content: '';
	position: absolute;
	top: 0;
	left: 50%;
	width: 2px;
	height: 100%;
	background: #0f0f17;
	transform-origin: center;
}

.close::before {
	transform: translateX(-50%) rotate(45deg);
}

.close::after {
	transform: translateX(-50%) rotate(-45deg);
}

.title {
	font-family: 'Inter', sans-serif;
	font-weight: 600;
	font-size: 24px;
	line-height: 110%;
	text-transform: uppercase;
	color: #0f0f17;
}

.form {
	display: flex;
	flex-direction: column;
	gap: 30px;
}

.inputsWrapper {
	display: flex;
	flex-direction: column;
	gap: 18px;
}

.fieldWrapper {
	display: flex;
	flex-direction: column;
	gap: 4px;
	width: 100%;
}

.error {
	font-family: 'Inter', sans-serif;
	font-size: 13px;
	line-height: 120%;
	color: #e63946;
	font-weight: 500;
	margin-top: 2px;
}

.submitBtn {
	width: 126px;
}

/* Mobile styles for screens 480px and below */
@media (max-width: 480px) {
	.overlay {
		align-items: flex-start;
		justify-content: flex-start;
	}

	.popup {
		width: 100%;
		height: 100vh;
		padding: 80px 20px;
		gap: 20px;
		border-radius: 0;
		box-shadow: none;
		overflow-y: auto;
		align-items: center;
	}

	.titleBlock {
		width: 100%;
		max-width: 280px;
	}

	.title {
		font-size: var(--type-h3-20);
		line-height: 110%;
	}





	.form {
		gap: 20px;
		width: 100%;
		max-width: 280px;
	}

	.inputsWrapper {
		gap: 15px;
		width: 100%;
	}

	.fieldWrapper {
		gap: 4px;
		width: 100%;
	}

	.submitBtn {
		width: 100%;
		max-width: 280px;
	}
}
