.card {
	box-sizing: border-box;
	max-width: 440px;
	max-height: 460px;
	border-radius: 20px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	box-shadow: 0 2px 16px 0 rgba(0, 0, 0, 0.04);
	transition:
		box-shadow 0.2s,
		border-radius 0.2s;
	margin: 0 auto;
	cursor: pointer;
}
.image {
	width: 100%;
	max-width: 440px;
	height: 300px;
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	background: #eee;
}
.image img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	display: block;
}
.content {
	border-radius: 20px;
	flex-direction: column;
	align-items: flex-start;
	width: 100%;
	flex: 1 1 auto;
	box-sizing: border-box;
	position: relative;
}
.title {
	font-size: var(--type-h2-24, 24px);
}
.date {
	width: 100%;
	height: 21px;
	font-size: var(--type-text-16, 16px);
	margin-top: 16px;
	align-self: flex-start;
}
.description {
	opacity: 0.5;
}
.card:hover {
	cursor: pointer;
	border-radius: 20px;
}
.card:hover .image {
	border-radius: 20px;
}
.card:hover .title {
	background: linear-gradient(
		180deg,
		var(--color-gradient-start) 0%,
		var(--color-gradient-end) 100%
	);
	background-clip: text;
	color: transparent;
}

@media (max-width: 480px) {
	.card {
		width: 100%;
		min-height: 374px;
		max-width: 100%;
		margin: 0;
		border-radius: 0;
		gap: 20px;
		box-shadow: none;
	}

	.image {
		width: 100%;
		height: 218px;
		flex-shrink: 0;
		border-radius: 0;
		background: #eee;
	}

	.image img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	.content {
		width: 100%;
		padding: 0 0 0 10px;
		box-sizing: border-box;
		flex-direction: column;
		gap: 10px;
		border-radius: 0;
		display: flex;
		flex-shrink: 0;
	}

	.title {
		font-size: 20px;
		font-weight: 600;
		line-height: 110%;
		text-transform: uppercase;
		width: 100%;
		margin: 0;
		color: var(--color-white);
	}

	.description {
		font-size: 16px;
		line-height: 130%;
		width: 100%;
		opacity: 0.5;
		color: var(--color-white);
		margin: 0;
	}

	.date {
		font-size: 16px;
		line-height: 130%;
		width: 100%;
		margin: 10px 0 0 10px;
		color: var(--color-white);
		padding: 0;
	}
}
