.card {
	box-sizing: border-box;
	width: 440px;
	height: 460px;
	border-radius: 20px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	box-shadow: 0 2px 16px 0 rgba(0, 0, 0, 0.04);
	transition:
		box-shadow 0.2s,
		border-radius 0.2s;
	margin-left: 0;
}

.image {
	width: 440px;
	height: 300px;
	background-size: cover;
	background-position: center;
	flex: none;
	order: 0;
	flex-grow: 0;
	transition: border-radius 0.2s;
}

.content {
	border-radius: 20px;
	flex-direction: column;
	align-items: flex-start;
	width: 100%;
	flex: 1 1 auto;
	box-sizing: border-box;
	position: relative;
}

.title {
	font-size: var(--type-h2-24, 24px);
}

.date {
	width: 100%;
	height: 21px;
	font-size: var(--type-text-16, 16px);
	margin-top: 16px;
	align-self: flex-start;
}

.description {
	opacity: 0.5;
}
.card:hover {
	cursor: pointer;
	border-radius: 20px;
}
.card:hover .image {
	border-radius: 20px;
}
.card:hover .title {
	background: linear-gradient(
		180deg,
		var(--color-gradient-start) 0%,
		var(--color-gradient-end) 100%
	);
	background-clip: text;
	color: transparent;
}
