.container {
	display: flex;
	flex-direction: column;
	gap: clamp(10px, 3vw, 40px);
	width: clamp(280px, 90vw, 496px);
}

.header {
	display: flex;
	flex-direction: column;
	gap: clamp(10px, 2vw, 20px);
}

.title {
	font-size: clamp(20px, 5vw, 40px);
	font-weight: 600;
	line-height: 110%;
	text-transform: uppercase;
	color: var(--color-white);
	margin: 0;
	padding: 0;
}

.date {
	font-size: clamp(14px, 2vw, 16px);
	font-weight: 400;
	line-height: 130%;
	color: var(--color-white);
	opacity: 0.5;
	margin: 0;
	padding: 0;
}

.content {
	display: flex;
	flex-direction: column;
	gap: clamp(10px, 2vw, 20px);
}

.shortDescription {
	font-size: clamp(16px, 4vw, 20px);
	font-weight: 600;
	line-height: 110%;
	text-transform: uppercase;
	color: var(--color-white);
	margin: 0;
	padding: 0;
}

.fullDescription {
	font-size: clamp(14px, 2.5vw, 16px);
	font-weight: 400;
	line-height: 130%;
	color: var(--color-white);
	margin: 0;
	padding: 0;
}

/* Mobile styles for screens 480px and below */
@media (max-width: 480px) {
	.container {
		width: calc(100% - 20px);
      margin-top: 40px;
      margin-left: 20px;
      margin-right: 20px;
		gap: 10px;
	}

	.header {
		gap: 10px;
	}

	.title {
		font-size: 24px;
	}

	.shortDescription {
		font-size: 20px;
	}

	.fullDescription {
		font-size: 16px;
	}
}
