$color-white: #ffffff;
$color-gradient-start: #fb8627;
$color-gradient-end: #f5bef6;
$color-black: #0f0f17;
$color-gray-700: #505050;

@mixin gradient($from, $to, $deg: 90deg) {
	background: linear-gradient($deg, $from 0%, $to 100%);
}
