.newsSection {
	padding: 10px 40px;
}

.newsWrapper {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: flex-start;
	align-content: flex-start;
	gap: 20px;
	width: 100%;
	position: relative;
}

.newsTitle {
	font-size: var(--type-h1-40, 40px);
	padding-top: 0;
	margin-bottom: 32px;
}

.loading {
	color: var(--color-white);
	font-size: 24px;
	padding: 40px;
}

/* Mobile */
@media (max-width: 480px) {
	.newsSection {
		width: 100%;
		margin: 0;
		padding: 0;
	}

	.newsWrapper {
		flex-direction: column;
		align-items: stretch;
		gap: 20px;
		padding: 0;
		width: 100%;
		box-sizing: border-box;
	}

	.newsTitle {
		font-size: var(--type-h2-24, 24px);
		line-height: 110%;
		text-transform: uppercase;
		margin: 25px 0 20px 10px;
	}

	.loading {
		padding: 20px;
	}
}
