.link {
	color: var(--color-white);
	display: inline-block;
	background: transparent;
	border: none;
	text-decoration: none;
	font-weight: var(--fw-500);
	font-size: var(--type-link-16);

	.link--muted {
		opacity: 0.5;
	}
}
