.link {
	font-family: var(--font-inter);
	font-style: normal;
	text-transform: uppercase;
	color: var(--color-white);
	display: inline-block;
	background: transparent;
	border: none;
	padding: 0;
	cursor: pointer;
}

.link--title {
	font-weight: 400;
	font-size: 32px;
	line-height: 130%;
}

.link--normal {
	font-weight: 400;
	font-size: 16px;
	line-height: 130%;
	letter-spacing: 0.1em;
	opacity: 1;
}

.link--muted {
	opacity: 0.5;
}

.link--hoverable:hover {
	opacity: 0.8;
	text-decoration: underline;
}
